.rectangle,
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 1200px;
  height: 95px;
}
.rectangle1 {
  top: 248px;
  left: 313px;
  border-radius: var(--br-8xs);
  background-color: #ebf1fa;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
  width: 540px;
  height: 454px;
}
.rectangle2 {
  position: absolute;
  top: 718px;
  left: -2px;
  background-color: var(--color-darkslategray);
  width: 1200px;
  height: 169px;
}
.rectangle3 {
  position: absolute;
  top: 810px;
  left: 556px;
  border-radius: var(--br-8xs);
  background-color: #f52e45;
  width: 88px;
  height: 35px;
}
.frame-icon {
  position: absolute;
  top: 822px;
  left: 573px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.rent-your-pet {
  position: absolute;
  top: 159px;
  left: 251px;
  font-size: var(--font-size-27xl);
  font-family: var(--font-neucha);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 653px;
  height: 169px;
}
.need-help {
  top: 729px;
  left: 550px;
  font-size: 20px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101px;
}
.image,
.need-help,
.quit {
  position: absolute;
}
.quit {
  top: 820px;
  left: 599px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 29px;
}
.image {
  top: 19px;
  left: 46px;
  width: 111px;
  height: 55px;
  overflow: hidden;
}
.letsgopets {
  position: absolute;
  top: 32px;
  left: -1px;
  font-size: 49px;
  line-height: 60px;
  font-family: var(--font-neucha);
  display: inline-block;
  width: 391px;
  height: 32px;
}
.pet-1-icon {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 65px;
  height: 63px;
  object-fit: cover;
}
.contact-us-on {
  position: absolute;
  top: 767px;
  left: 417px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 361px;
  height: 30px;
}
.enter-the-details {
  position: absolute;
  top: 275px;
  left: 407px;
  font-size: var(--font-size-27xl);
  font-family: var(--font-ubuntu-condensed);
}
.frame-child,
.frame-inner,
.frame-item {
  position: absolute;
  top: 421px;
  left: 356px;
  background-color: var(--color-white);
  width: 443px;
  height: 78px;
}
.frame-inner,
.frame-item {
  top: 333px;
}
.frame-inner {
  top: 522px;
}
.owner-name,
.pets-name,
.place {
  position: absolute;
  top: 347px;
  left: 359px;
  font-family: var(--font-livvic);
  display: inline-block;
  width: 115px;
  height: 25px;
}
.pets-name,
.place {
  top: 431px;
  left: 349px;
}
.place {
  top: 529px;
  left: 338px;
}
.frame-child1,
.frame-child2,
.rectangle-div {
  position: absolute;
  top: 376px;
  left: 366px;
  background-color: var(--color-gainsboro);
  width: 412px;
  height: 21px;
}
.frame-child1,
.frame-child2 {
  top: 463px;
  left: 372px;
}
.frame-child2 {
  top: 554px;
  left: 367px;
}
.frame-child3 {
  position: absolute;
  top: 613px;
  left: 677px;
  background-color: #32a679;
  width: 122px;
  height: 46px;
  cursor: pointer;
}
.next {
  position: absolute;
  top: 626px;
  left: 715px;
  font-size: 21px;
  line-height: 19.6px;
  color: var(--color-white);
  text-align: left;
}
.frame {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 887px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-lato);
}
